* {
    box-sizing: border-box;
}
body {
    background-color: #eef9bf;
}

.container {
    width:100%;
    height:100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}
.titulo {
    position: absolute;
    top: 40px;

    font-family: 'Roboto';
    font-style: normal;
    font-size: 56px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: -0.004em;
    
    color: #75b79e;
}

.linha-carta1 {
    width: 1000px;
    height: auto;

    position: absolute;
    top: 150px;
    
    display: flex;
    justify-content: space-between;
}
.linha-carta2 {
    width: 1000px;
    height: auto;

    position: absolute;
    top: 330px;
    
    display: flex;
    justify-content: space-between;
}
.carta {
    width: 117px;
    height: 146px;

    background: #A7E9AF;
    border: 1px solid #99cea8;
    border-radius: 5px;

    display:flex;
    justify-content: center;
    align-items: center;
}
.carta img {
    width: 100px;
    height: 100px;
    background: url(front.png);
}