* {
    box-sizing: border-box;
}
body {
    background-color: #eef9bf;
}

h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 56px;
    font-weight: 700;
    line-height: 65px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    
    color: #75b79e;
}


.container {
    display: flex;
    justify-content: space-between;
}

.container-carta {
    max-width: 989px;
    height: 100%;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.carta {
    width: 117px;
    height: 146px;
    position: relative;
    margin-right: 34px;
    margin-bottom: 34px;

    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
}

.carta:hover {
    transform: scale(1.05 , 1.05);
}

img {
    min-height: 100px;
    min-width: 100px;
    max-width: 100px;
    max-height: 100px;
}

.carta.transform {
    transform: scale(-2);
}

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    border: 1px solid #99CEA8;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.back-face {
    transform: rotateY(180deg);
}

.to-turn .back-face {
    transform: rotateY(0deg);
}

.to-turn .front-face {
    transform: rotateY(-180deg)
}

.escondido {
    display: none;
}

.dupla {
    display: flex;
}

